@import url('https://fonts.googleapis.com/css?family=Alegreya|Bree+Serif');

$hero-height: 90vh;

h1,h2,h3,h4,h5{
  font-family: 'Bree Serif', serif;
	color: black;
}
<<<<<<< HEAD
p, a,{
  font-family: 'Alegreya', serif;
=======

.menuimg{ 
 
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
	
	height:100vh; 
}


.background{ background-color:#D3D3D3;
>>>>>>> c7c63e07b9ae71591a85843af776e01282e45e2a
}
.thumbnaid {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0; }

.bro{
	margin: auto;
    width: 100%;
    padding: 10px;
	
}
.logo {
float: left;
	
}
<<<<<<< HEAD
li{
  list-style-type: none;
}
.bgimg{

  background: url('../img/hero1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
=======












>>>>>>> c7c63e07b9ae71591a85843af776e01282e45e2a
